# Ignorar entornos virtuales de Python (ESENCIAL)
autosklearn_env/
venv/
.venv/
.vscode/

# Ignorar archivos de Python compilados y caché
__pycache__/
*.pyc

# Ignorar archivos de Jupyter Notebooks y otros temporales
.ipynb_checkpoints/
/tmp/

# Ignorar archivos de logs y datos generados/grandes
*.log
*.csv